body {
    background: rgb(22, 22, 22);
}
.music-container {
    background: rgb(22, 22, 22);   
}

.music-border {
    display: flex;
    align-items: flex-end;
    border-bottom: 1.1px solid white;
    padding-bottom: 10px;
    padding-top: 16px;
    margin-left: 65px;
    margin-right: 65px;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-size: 0.875em;
    color: white;
}

.music-logo {
    height: 70px;
    padding-top: 12px;
    padding-bottom: 7px;
}

.music-letters {
    position: relative;
    margin-left: 20px;
    top: 9px;
    color: white;
}


.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 100%;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;

}

.mansion {
    width: 425px;
    -webkit-transition: 0.9s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.9s;
	-moz-transform-style: preserve-3d; 
  -o-transition: 0.9s;
	-o-transform-style: preserve-3d;
	transition: 0.9s;
	transform-style: preserve-3d;
    position: relative;
    
}

.therapy {
    width: 425px;
    -webkit-transition: 0.9s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.9s;
	-moz-transform-style: preserve-3d; 
  -o-transition: 0.9s;
	-o-transform-style: preserve-3d;
	transition: 0.9s;
	transform-style: preserve-3d;
    position: relative;
}

.perception {
    width: 425px;
    -webkit-transition: 0.9s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.9s;
	-moz-transform-style: preserve-3d; 
  -o-transition: 0.9s;
	-o-transform-style: preserve-3d;
	transition: 0.9s;
	transform-style: preserve-3d;
    position: relative;
}

.album-mansion {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:500px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.album-therapy {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:500px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.album-perception {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:500px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.mansion:hover {
    cursor: pointer;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);  
}

.therapy:hover {
    cursor: pointer;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);  
}

.perception:hover {
    cursor: pointer;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);  
}


.spotifyMansion-iframe-container {
    position: absolute;
    display: none;
    top: 25px;
}

.spotifyTherapy-iframe-container {
    position: absolute;
    display: none;
    top: 25px;
}

.spotifyPerception-iframe-container {
    position: absolute;
    display: none;
    top: 25px;
}

